<%= form_for(@codabra) do |f| %>
  <% if @codabra.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @codabra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :Language %><br />
    <%= f.select :locale, LocaleDispatcher.generate_for_select_box %>
  </div>
  <div class="actions">
    <%= button_submit_tag t(:'links.ok') %>
  </div>
<% end %>
